---
import NavigationLink from './NavigationLink.astro';
---

<nav>
  <ol class="space-y-5">
    <NavigationLink href="/recent-changes">
      Recent Changes
    </NavigationLink>
    <NavigationLink href="/guides">Guides</NavigationLink>
    <NavigationLink href="/documentation">
      Documentation
    </NavigationLink>
  </ol>
</nav>
