---
import Navigation from './Navigation.astro';
---

<aside
  class="w-96 p-5 space-y-10 bg-gray-100 border-r border-gray-300"
>
  <a href="/" class="space-x-4 flex items-center">
    <img
      class="h-14"
      src="/images/logos/riverstone-icon-blue-circle.png"
    />
    <span class="text-3xl font-bold">Docs</span>
  </a>
  <div>
    <Navigation />
  </div>
</aside>
