---
import '../main.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>{title}</title>
  </head>

  <body class="h-full font-sans antialiased text-gray-900">
    <slot />
  </body>
</html>
