---
import Base from './Base.astro';
import Sidebar from '../components/Sidebar.astro';
---

<Base>
  <div class="flex h-full">
    <Sidebar />
    <main class="container">
      <slot />
    </main>
  </div>
</Base>
